<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.2"></script>
    
</head>
<body>
    <p>I am going to Learn Vue</p>
    <div id="app">
        <li class="custom_task_style" v-for="task in todoList">
            <h1>{{task.title}}</h1>
            <p>{{task.author}}</p>
            <p v-show="task.showprogress">{{task.progress}}</p>
            <img src="" v-show="task.showprogress" class="progressbar" alt="progress" :width="width"/>
            <p>{{task.status}}</p>
            <button  v-show="task.showprogress"  @click="updateProgress(task)" class="updatebutton">Update Progress</button>
            <button  v-show="task.showprogress" @click="minusProgress(task)" class="badupdatebutton">Bad Progress</button>
            <button @click="toggleStatus(task)" :class="{completebuttonstyle: task.status , notcompletebuttonstyle: !task.status}">{{task.status ? "task Complete" : "Not Completed"}}</button>
            <button @click="toggleProgressStatus(task)" :class="{showprogress: task.showprogress, notshowprogress: !task.showprogress}">{{task.showprogress ? "Hide Progress" : "Show Progress"}}</button>
        </li>

        <button class="updatebutton" @click="filterResult">Filter Task </button>
        <button class="updatebutton" @click="notfilterResult">All Task </button>
    </div>
    <script src="app.js"></script>
</body>
</html>