.custom_task_style
{
    background-color: wheat;
    padding: 20px;
    margin-bottom: 10px;
}
body{
    background-color: #eeeeee;
}
.completebuttonstyle
{
    padding: 10px;
    color: white;
    background-color: green;
}
.notcompletebuttonstyle
{
    padding: 10px;
    color: white;
    background-color: red;
}
.showprogress
{
    padding: 10px;
    color: white;
    background-color: blue;
}
.notshowprogress
{
    padding: 10px;
    color: white;
    background-color: black;
}
.updatebutton
{
    padding: 10px;
    color: white;
    background-color: orange;
}
.badupdatebutton
{
    padding: 10px;
    color: white;
    background-color: purple;
}
.progressbar
{
    padding: 20px;
    background-color: pink;
}